body {
    background: white url("images/01_bg.png") no-repeat fixed center ;
    background-size: 1920px 1080px;
    font-family: 'Ubuntu', cursive;
}

#footer {
    position: absolute;
    text-align: center;
    bottom: 0;
}

.landing {
    padding: 0 1.5rem;
}

.post_title {
    text-align: left;
}

.post {
    border-radius: 10px;

}

.comment-container {
    width: 100%;
    border-radius: 5px;
    background-color: #868e96;
}

.comment-content {
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
}

.comment-author {
    color: #343a40;
}

.post-container {
    border-radius: 10px;
}

.post_img {
    align-self: center;
}