body {
    background: white url("images/01_bg.png") no-repeat fixed center ;
    background-size: 1920px 1080px;
    font-family: 'Ubuntu', cursive;
}

#footer {
    position: absolute;
    text-align: center;
    bottom: 0;
}

.landing {
    padding: 0 1.5rem;
}



/* comment */
.comment-container {
    width: 80%;
    border-radius: 5px;
    background-color: aliceblue;
    margin: 10px 10px 10px 10px;
}

.comment-content {
    margin: 20px 20px 20px 20px;
}

.comment-author {
    color: #16181b;
}
/* */


/* post */
.post_title {
    text-align: left;
}

.post {
    border-radius: 10px;
}

.post-container {
    border-radius: 10px;
}

.post_img {
    display: block;
    margin: auto;
    width: 80%;
}