body {
    background: white url("images/01_bg.png") no-repeat fixed center ;
    background-size: 1920px 1080px;
    font-family: 'Ubuntu', cursive;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.landingtext {
    padding: 30%;
}