<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <title> teqitez </title>
        {% load staticfiles %}
        <!-- this bootstrap version 3.3.6 is old, the new one is 4... I use 3.6.3 to compatibilize with the instruction -->
        <link rel="stylesheet" href="{% static 'blog/bootstrap.min.css' %}">
        <script src="{% static 'blog/jquery-3.2.1.slim.min.js' %}"></script>
        <script src="{% static 'blog/bootstrap.min.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
        <link rel='stylesheet' type="text/css" href="{% static 'blog/style.css' %}" />

        <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Your Website Title" />
        <meta property="og:description"   content="Your description" />

    </head>

    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
                    <a class="navbar-brand" href="{% url 'blog:index' %}">teqitez</a>
                    {% if user.is_authenticated %}
                        <a class="btn btn-dark float-right" href="{% url 'blog:post-add' %}">Write</a>
                        <a class="btn btn-light" href="{% url 'blog:logout' %}">Logout</a>
                    {% else %}
                        <a class="btn btn-light" href="{% url 'blog:login' %}">Log In</a>
                    {% endif %}
            </nav>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>