{% extends 'blog/base.html' %}

{% block body %}
    <br><br>
    <div class="container">
        <h1 class="text-light">{{ blogpost.post_title}}</h1>
        <div class="bg-white">
            <img src="{{ blogpost.feature_image.url }}" class="img-fluid">
            <p class="text-dark">{{ blogpost.content }}</p>
            <hr>
                <a class="btn btn-primary" href="{% url 'blog:add_comment_to_post' pk=blogpost.pk %}">Add comment</a>
                {% for comment in post.comments.all %}
                    {% if user.is_authenticated or comment.approved_comment %}
                        <div class="comment">
                            <div class="date">
                                {{ comment.created_date }}
                                {% if not comment.approved_comment %}
                                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                                {% endif %}
                            </div>
                            <strong>{{ comment.author }}</strong>
                            <p>{{ comment.text|linebreaks }}</p>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>No comments here yet :(</p>
                {% endfor %}
        </div>
        <br>

    </div>



{% endblock %}