{% extends 'blog/base.html' %}

{% block body %}
    <br><br>
    <div class="container post-container">
        <h1 class="text-light text-center">{{ blogpost.post_title}}</h1>
        <div class="bg-white post-container">
            <img src="{{ blogpost.feature_image.url }}" class="post-img">
            <p class="text-dark post-text">{{ blogpost.content }}</p>
            <hr>
                <a class="btn btn-primary addcomment" href="{% url 'blog:add_comment_to_post' pk=blogpost.pk %}">Add comment</a>
                {% for comment in blogpost.comments.all %}
                    {% if user.is_authenticated or comment.approved_comment %}
                        <div class="comment-container">
                            <div class="date">
                                {% if not comment.approved_comment %}
                                    <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}">
                                        <span class="glyphicons glyphicons-remove-sign" style="background-color: #bd2130; color: white;"></span>
                                    </a>
                                    <a class="btn btn-default" href="{% url 'blog:comment_approve' pk=comment.pk %}">
                                        <span class="glyphicons glyphicons-ok-sign" style="background-color: #1e7e34; color: white;"></span>
                                    </a>
                                {% endif %}
                            </div>
                            <p class="comment-content">"{{ comment.text }}"</p>
                            <span class="text-success comment-author">{{ comment.name }} </span>
                            <span class="comment-date"> at {{ comment.created_date }}</span>
                        </div>
                        <br>
                    {% endif %}
                {% empty %}
                    <p>No comments here yet</p>
                {% endfor %}
        </div>
        <br>
    </div><br><br>
    <div class="footer container container-fluid align-self-center text-center text-light">&copy; 2017 Tuan Doan. All rights reserved</div>
{% endblock %}