{% extends 'blog/base.html' %}

{% block body %}
    <br><br>
    <div class="container post-container">
        <h1 class="text-light post_title">{{ blogpost.post_title}}</h1>
        <div class="bg-white">
            <img src="{{ blogpost.feature_image.url }}" class="post_img">
            <p class="text-dark">{{ blogpost.content }}</p>
            <hr>
                <a class="btn btn-primary" href="{% url 'blog:add_comment_to_post' pk=blogpost.pk %}">Add comment</a>
                {% for comment in blogpost.comments.all %}
                    {% if user.is_authenticated or comment.approved_comment %}
                        <div class="comment-container">
                            <div class="date">
                                {{ comment.created_date }}
                                {% if not comment.approved_comment %}
                                    <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove">rm</span></a>
                                    <a class="btn btn-default" href="{% url 'blog:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok">ok</span></a>
                                {% endif %}
                            </div>

                            <p class="comment-content">"{{ comment.text }}"</p> - <span class="text-success comment-author">{{ comment.name }}</span>
                        </div>
                        <br>
                    {% endif %}
                {% empty %}
                    <p>No comments here yet</p>
                {% endfor %}
        </div>
        <br>

    </div><br><br>
    <div class="footer">Copyright &copy; Tuan Doan, all rights served</div>


{% endblock %}