{% extends 'blog/base.html' %}
<div class="container-fluid">
    {% block body %}
        <!-- plugin for share button -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=292294567910076";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


        <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));</script>


        <!-- -->
        <br><br>
    {% if object_list %}

            {% for posts in object_list reversed %}
                <div class="container align-self-center bg-white">
                    <h3><b><a class="blog-title text-dark" href="{% url 'blog:detail' posts.id %}">{{ posts.post_title }}</a></b></h3>
                    {{ posts.publish_date }}<br>
                    by Tuan Doan
                    <br><br>
                    <a href="{% url 'blog:detail' posts.id %}"><img src="{{ posts.feature_image.url }}"><br><br></a>
                        <h5>{{ posts.hooker }} <a href="{% url 'blog:detail' posts.id %}" class="text-info">Read</a></h5>
                    <br>
                    {% if user.is_authenticated %}
                        <a class="btn btn-dark" href="{% url 'blog:post-delete' posts.id %}">delete</a>
                        <a class="btn btn-light" href="{% url 'blog:post-update' posts.id %}">edit</a>
                    {% else %}




                        <div class="fb-share-button" data-href="https://teqitez.herokuapp.com/blog" data-layout="button_count" data-size="large" data-mobile-iframe="true">
                            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fteqitez.herokuapp.com/blog%2F&amp;src=sdkpreparse">Share</a>
                            <a class="twitter-share-button btn fa fa-twitter-square" href="https://twitter.com/intent/tweet?text=Hello%20world" data-size="large">Tweet</a>
                        </div>
                    {% endif %}
                    <br><br>
                </div>
                <br><br>
            {% endfor %}

    {% else %}
        <h1>You haven't post anything!</h1>
    {% endif %}
    {% endblock %}
</div>