{% extends 'blog/base.html' %}
{% block active_home %}active{% endblock %}
{% block title %} T | home {% endblock %}
<div class="container-fluid">
    {% block scrollScript %}
        <!--the script to tell when user reach the bottom -->
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script>
            var reachedBottom = false
             $(window).scroll(
                 function() {
                    if($(window).scrollTop() + $(window).height() == $(document).height()) {
                        reachedBottom = true
                    }
                });
        </script>
        <script>
            if (reachedBottom == true) {
                alert("reached Bottom, sir!")
            }
        </script>
    {% endblock %}
    {% block body %}

        <br><br>
    {% if object_list %}

            {% for posts in object_list reversed %}
                <div class="container align-self-center bg-white post text-center">
                <br>
                    <h1 class="title"><a class="text-dark text-center" href="{% url 'blog:detail' posts.id %}">{{ posts.post_title }}</a></h1>
                    <div class="post-info text-center">
                        <i>{{ posts.date }}</i> by <a href="https://twitter.com/tu4ndoan">TD</a>
                    </div>
                    <br><br>
                <div class="post-img-container">
                    <img id="myImg" src="{{ posts.feature_image }}" class="post-img">
                </div>
                    <div id="myModal" class="modal">
                      <span class="close">×</span>
                      <img class="modal-content" id="img01">
                      <div id="caption"></div>
                    </div>
                <br>
                    <h5 class="hooker text-dark">
                        <a href="{% url 'blog:detail' posts.id %}">
                            <!--<span style="color: green">&lt;awesome&gt;</span>-->
                            <h2>
                            <span style="color: green">
                                <i class="fa fa-angle-left"></i><i class="fa fa-angle-right"></i>
                            </span>
                            <span style="color: black" class="title">{{ posts.hooker }}</span>
                            <span style="color: green"><i class="fa fa-code"></i></span>
                            <!--<span style="color: green">&lt;&sol;awesome&gt;</span>-->
                            </h2>
                        </a>
                    </h5>

                    {% if user.is_authenticated %}
                        <a class="btn btn-dark" href="{% url 'blog:post-delete' posts.id %}"><span class="fa fa-close text-danger"></span></a>
                        <a class="btn btn-dark" href="{% url 'blog:post-update' posts.id %}"><span class="fa fa-edit text-white"></span></a>
                        <span class="badge text-white bg-dark">{{ posts.get_comment_count }}</span>
                    {% endif %}


                        <h5><span class="fa fa-share-alt-square"> </span> share this:</h5>
                <!-- bunch of cool share buttons -->
                        <div class="social-share text-center">
                            {% with "share this in" as share_txt %}
                                {% with "https://teqitez.herokuapp.com/" as host %}
                                        {% with "title" as title %}
                                            {% with "twitter" as service %}
                                                <div class="d-inline">
                                                    <a class="btn twitter-share share-btn"
                                                       href="http://twitter.com/share?url={{ host }}{% url 'blog:detail' posts.id %}&amp;text={{ title }}"
                                                       target="_blank"
                                                       title="{{ share_txt }} {{ service }}">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </div>
                                            {% endwith%}

                                            {% with "facebook" as service %}
                                                <div class="d-inline">
                                                    <a class="btn facebook-share share-btn"
                                                       href="http://www.facebook.com/share.php?u={{ host }}{% url 'blog:detail' posts.id %}&amp;t={{ title }}"
                                                       target="_blank"
                                                       title="{{ share_txt }} {{ service }}">
                                                    <i class="fa fa-facebook"></i>
                                                    </a>
                                                </div>
                                            {% endwith%}

                                            {% with "linkedin" as service %}
                                                <a class="btn linkedin-share share-btn"
                                                   href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ host }}{% url 'blog:detail' posts.id %}&amp;title={{ title }}&amp;ro=false&amp;summary=&amp;source="
                                                   target="_blank"
                                                   title="{{ share_txt }} {{ service }}">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            {% endwith %}

                                            {% with "google plus" as service %}
                                                <a class="btn google-share share-btn"
                                                   href="http://plus.google.com/share?app=110&amp;url={{ host }}{% url 'blog:detail' posts.id %}"
                                                   target="_blank"
                                                   title="{{ share_txt }} {{ service }}">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            {% endwith %}
                                        {% endwith%}
                                {% endwith%}
                            {% endwith%}
                        </div>
                    <br><br>
                <!-- end of share buttons -->

                </div>
                <br><br>
            {% endfor %}


        {% if True %}
            <div class="pagination text-center text-light paging" style="width: 30%;" >
                <span class="page-links text-center -align-right" >
                    {% if page_obj.has_previous %}
                        <a href="/blog?page={{ page_obj.previous_page_number }}">

                        </a>
                    {% else %}
                        <span class="text-muted">

                        </span>&nbsp;
                    {% endif %}
                    <span class="page-current text-center text-white">
                        <!--Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}-->
                        <h1>
                            <a href="#"><i class="fa fa-chevron-circle-down"></i></a>&nbsp;
                            <a href="#"><i class="fa fa-chevron-circle-up"></i></a>
                        </h1>
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/blog?page={{ page_obj.next_page_number }}"> &nbsp;

                        </a>
                    {% else %}
                        <span class="text-muted">

                        </span>&nbsp;

                    {% endif %}
                </span>
            </div>
        {% endif %}
        {% else %}
            <h3 class="text-center text-white">Welcome back, Daddy <3</h3>
        {% endif %}

<br>
        <div class="footer container-fluid container align-self-center text-center text-light" style="bottom: 0;">&copy; 2017 Tuan Doan. All rights reserved</div>
    {% endblock %}
</div>